//
//  Config.xcconfig
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_VERSION = 1.0
PLIST_PATH = App/Resources/Info.plist //[[CHANGEME]]
ENTITLEMENTS_PATH = App/Resources/App.entitlements //[[CHANGEME]]
APP_NAME = CHANGME
